---
layout: default
title: LocumTap
meta: Better for hospitals. Easier for clinicians. Safer for patients.
---

<div class="container">
  <div class="home-hero">

    <div class="columns is-gapless">
      <div class="column">
        <div class="home-hero__banner home-hero__banner--hospital">

          <div class="columns">
            <div class="column is-three-quarters">
              <div class="content">
                <h1>Hospitals</h1>
                <p>Ramp up your fill rates, increase patient safety and save impressive amounts of money.</p>

                <p><a href="#">Find out more</a> or see for yourself:</p>

                <a class="button is-dazzling">Request a Demo</a>
              </div>
              <!-- /.content -->
            </div>
            <!-- /.column -->

          </div>
          <!-- /.columns -->

        </div>
        <!-- /.home-hero__banner -->
      </div>
      <!-- /.column -->

      <div class="column">
        <div class="home-hero__banner home-hero__banner--locum">

          <div class="columns">
            <div class="column is-three-quarters">
              <div class="content">
                <h1>Locums</h1>
                <p>Stop drowning in emails, waiting for responses and spend more time singing in the shower.</p>

                <p><a href="#">Learn more</a> or download:</p>

                <a class="button is-dazzling"><i class="fab fa-apple"></i> &nbsp; for iOS</a>

                <a class="button is-dazzling"><i class="fab fa-android"></i> &nbsp; for Android</a>

              </div>
              <!-- /.content -->
            </div>
            <!-- /.column -->
          </div>
          <!-- /.columns -->
        </div>
        <!-- /.home-hero__banner -->
      </div>
      <!-- /.column -->
    </div>
    <!-- /.columns -->

  </div>
  <!-- /.home-hero -->

</div>
<!-- /.container -->



<section class="hero is-primary is-medium is-bold">
  <div class="hero-body">

    <div class="container">

      <div class="columns">
        <div class="column is-8 is-offset-2">
          <h4 class="caption-title">Use A Simple Tool</h4>
          <h1 class="title">Make A Profound Impact</h1>

          <div class="content is-large">
            <p>Enable your staff bank to recruit faster, improve patient safety, save money and see where to improve with LocumTap.</p>
          </div>
          <!-- /.content -->

        </div>
        <!-- /.column -->
      </div>
      <!-- /.columns -->



      <div class="columns is-multiline">

        <div class="column is-4">
          <div class="job-feature">
            <span class="icon job-feature__icon">
              <i class="fas fa-cut"></i>
            </span>

            <div class="content">
              <h3 class="job-feature__title">Cut your agency spending</h3>
              <p class="job-feature__explanation">Reduce your need for agencies by engaging your existing workforce and expanding your staff bank.</p>
            </div>
            <!-- /.content -->
          </div>
          <!-- /.job-feature -->
        </div>
        <!-- /.column -->

        <div class="column is-4">
          <div class="job-feature">
            <span class="icon job-feature__icon">
              <i class="fas fa-check-circle"></i>
            </span>

            <div class="content">
              <h3 class="job-feature__title">Put Safety &amp; Reliability First</h3>
              <p class="job-feature__explanation">Pick up slack in system and work with clinicians that you trust. Hire clinicians that work for you, not for the agencies.</p>
            </div>
            <!-- /.content -->
          </div>
          <!-- /.job-feature -->
        </div>
        <!-- /.column -->


        <div class="column is-4">
          <div class="job-feature">
            <span class="icon job-feature__icon">
              <i class="fas fa-lightbulb"></i>
            </span>

            <div class="content">
              <h3 class="job-feature__title">Put your data to work</h3>
              <p class="job-feature__explanation">Without lifting a finger, see powerful insights on areas of overspending, underperformance and be 100% confident staff are following standard operating procedures.</p>
            </div>
            <!-- /.content -->
          </div>
          <!-- /.job-feature -->
        </div>
        <!-- /.column -->


        <div class="column is-4">
          <div class="job-feature">
            <span class="icon job-feature__icon">
              <i class="fas fa-thumbs-up"></i>
            </span>

            <div class="content">
              <h3 class="job-feature__title">Happier clinicians do more</h3>
              <p class="job-feature__explanation">Keep your clinicians happy so they book more shifts and have more confidence in the staff bank.</p>
            </div>
            <!-- /.content -->
          </div>
          <!-- /.job-feature -->
        </div>
        <!-- /.column -->

        <div class="column is-4">
          <div class="job-feature">
            <span class="icon job-feature__icon">
              <i class="fas fa-chart-line"></i>
            </span>

            <div class="content">
              <h3 class="job-feature__title">Ramp up Your Recruitment</h3>
              <p class="job-feature__explanation">Extend your reach and increase the speed for onboarding new clinicians.</p>
            </div>
            <!-- /.content -->
          </div>
          <!-- /.job-feature -->
        </div>
        <!-- /.column -->


        <div class="column is-4">
          <div class="job-feature">
            <span class="icon job-feature__icon">
              <i class="fas fa-puzzle-piece"></i>
            </span>

            <div class="content">
              <h3 class="job-feature__title">One Size Does Not Fit All</h3>
              <p class="job-feature__explanation">Implement tools that address the unique challenges for each of your departments.</p>
            </div>
            <!-- /.content -->
          </div>
          <!-- /.job-feature -->
        </div>
        <!-- /.column -->


      </div>
      <!-- /.columns -->


      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <a class="button is-dazzling is-medium">Request a Demo</a>
        </p>
      </div>

    </div>
  </div>
  <!-- /.hero-body -->
</section>




<section class="section is-medium">
  <div class="container">
    <h1 class="title">A New Record. <em class="thin-emphasis">For A Track Record.</em></h1>


    <div class="columns">
      <div class="column is-5">
        <div class="content">

          <p>At Chelsea-Westminster NHS Foundation Trust we implemented LocumTap across all departments in both hospital sites. Since implementation they have maintained an average <span class="highlight">bank fill rate of over 90%</span> across all departments.</p>

          <p><a href="#">Get in touch</a> to see how LocumTap can help your hospital be better and safer than yesterday.</p>

        </div>
        <!-- /.content -->
      </div>
      <!-- /.column -->


      <div class="column is-5 is-offset-2">
        <img class="bank-fill-graph" src="/assets/bank-fill-graph.png" alt="A graph showing LocumTap improving bank fill rates by 60%."/>
      </div>
      <!-- /.column -->
    </div>
    <!-- /.columns -->
  </div>
  <!-- /.container -->
</section>




<section class="hero is-light is-medium">
  <div class="hero-body">
    <div class="container">

      <div class="columns">

        <div class="column is-8 is-offset-2">
          <div class="content">
            <blockquote>
            <p class="is-medium"><span class="highlight">LocumTap has transformed our staff bank!</span>  The trust has reduced its agency spend by significantly improving our bank fill rates. Our service managers have better control over their locum activity, and the clinicians love the app too.</p>

            <cite><strong>- Rob Hodgkiss, Chief Operating Officer of Chelsea and Westminster NHS Foundation Trust.</strong></cite>
          </div>
        </div>

      </div>
      <!-- /.columns -->
    </div>
  </div>
</section>




<section class="section">
  <div class="container">
    <div class="columns">

      <div class="column is-8 is-offset-2">
        <h4 class="caption-title">Surrounded by the Best</h4>
        <h1 class="title">We’re Supported By</h1>
      </div>
      <!-- /.column -->

    </div>
    <!-- /.columns -->

    <ul class="logo-gallery">
      <li class="logo-gallery__item">
        <img alt="Digital Health Accelerator Logo" src="/assets/logo-digital-health-accelerator.png" class="logo-gallery__image" />
      </li>
      <li class="logo-gallery__item">
        <img alt="PWC Logo"  src="/assets/logo-pwc.png" class="logo-gallery__image" />
      </li>
      <li class="logo-gallery__item">
        <img alt="Innovate UK Logo"  src="/assets/logo-innovate.png" class="logo-gallery__image" />
      </li>
      <li class="logo-gallery__item">
        <img alt="Catapult Digital Logo"  src="/assets/logo-catapult-digital.png" class="logo-gallery__image" />
      </li>
    </ul>
  </div>
  <!-- /.container -->
</section>





<section class="hero is-light is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns">

        <div class="column is-8 is-offset-2">
          <h4 class="caption-title">No Detail Too Small</h4>
          <h1 class="title">We’re Here With You Everystep of the Way</h1>

          <div class="content">
            <p>Our experienced implementation team work closely to listen, understand and setup LocumTap so that your department can get the most from it.</p>
          </div>
          <!-- /.content -->


          <progress class="progress is-primary is-small" value="25" max="100">25%</progress>

          <div class="content">
            <h3>Map Out Requirements</h3>
            <p>Our experienced implementation team looks carefully at your current setup.</p>

            <p>We build a full picture by engaging with your executives, managers and clinicians.</p>
          </div>
          <!-- /.content -->


          <progress class="progress is-primary is-small" value="50" max="100">50%</progress>

          <div class="content">
            <h3>Set The Plan</h3>
            <p>With a clear understanding of your requirements, we create a mature implementation plan that minimises interruptions and maximises your performance.</p>
          </div>
          <!-- /.content -->

          <progress class="progress is-primary is-small" value="75" max="100">75%</progress>

          <div class="content">
            <h3>Onboarding</h3>
            <p>We onboard each of your departments individually to outline any unique requirements that ensures a smooth transition into LocumTap's capabilities. </p>
          </div>
          <!-- /.content -->

          <progress class="progress is-success is-small" value="100" max="100">100%</progress>

          <div class="content">
            <h3>Your Success</h3>
            <p>Once implementation is complete, we continue to enable your HR team to receive ongoing education and support so that you reach your goals and make the most of out LocumTap.</p>
          </div>
          <!-- /.content -->

        </div>
        <!-- /.column -->

      </div>
      <!-- /.columns -->
    </div>
    <!-- /.container -->

  </div>
  <!-- /.hero-body -->
</section>





<section class="section">
  <div class="container">
    <h1 class="title">Buttons</h1>
    <a class="button is-dazzling">Dazzling</a>
    <a class="button is-primary">Primary</a>
    <a class="button is-link">Link</a>
    <a class="button is-info">Info</a>
    <a class="button is-success">Success</a>
    <a class="button is-warning">Warning</a>
    <a class="button is-danger">Danger</a>
    <a class="button is-primary is-loading">Button</a>

    <hr />

    <a class="button is-dazzling is-medium">Dazzling</a>
    <a class="button is-primary is-medium">Primary</a>
    <a class="button is-link is-medium">Link</a>
    <a class="button is-info is-medium">Info</a>
    <a class="button is-success is-medium">Success</a>
    <a class="button is-warning is-medium">Warning</a>
    <a class="button is-danger is-medium">Danger</a>

    <hr />

    <a class="button is-outlined">Outlined</a>
    <a class="button is-primary is-outlined">Outlined</a>
    <a class="button is-link is-outlined">Outlined</a>
    <a class="button is-info is-outlined">Outlined</a>
    <a class="button is-success is-outlined">Outlined</a>
    <a class="button is-danger is-outlined">Outlined</a>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">Text Block</h1>

    <div class="content">
      <h1>Hello World</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Nulla accumsan, metus</a> ultrices eleifend gravida, nulla nunc varius lectus, <span class="highlight">ec rutrum justo nibh eu lectus.</span> Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque. Sub works as well!</p>
      <h2>Second level</h2>
      <p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
      <ul>
        <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
        <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
        <li>Aliquam nec felis in sapien venenatis <a href="#">viverra fermentum nec lectus.</a></li>
        <li>Ut non enim metus.</li>
      </ul>
      <h3>Third level</h3>
      <table>
        <thead>
          <tr>
            <th>One</th>
            <th>Two</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Three</td>
            <td>Four</td>
          </tr>
          <tr>
            <td>Five</td>
            <td>Six</td>
          </tr>
          <tr>
            <td>Seven</td>
            <td>Eight</td>
          </tr>
          <tr>
            <td>Nine</td>
            <td>Ten</td>
          </tr>
          <tr>
            <td>Eleven</td>
            <td>Twelve</td>
          </tr>
        </tbody>
      </table>
  </div>
</section>
