---
layout: default
title: Sea Level Research — Styletiles
---


<section class="hero is-dark">
  <div class="hero-body">

    <div class="container">
      <div class="has-spacing-bottom">
        <h4 class="caption-title">Start the conversation</h4>
        <h1 class="title">Let’s Talk About Making Your Port Better Than Yesterday</h1>
      </div>
      <!-- /.has-spacing-bottom--large -->
    </div>
    <!-- /.container -->

    <div class="container">
      <div class="columns">

        <div class="column is-4">

          <form>
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" type="text" placeholder="Text input">
              </div>
            </div>

            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fa fa-warning"></i>
                </span>
              </div>
              <p class="help is-danger">This email is invalid</p>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link">Submit</button>
              </div>
            </div>

          </form>


        </div>
        <!-- /.column -->

      </div>
      <!-- /.columns -->
    </div>
    <!-- /.container -->



  </div>
  <!-- /.hero-body -->
</section>




<section class="section">
  <div class="container">


    <h4 class="caption-title">At Each &amp; Every Port Around the World</h4>
    <h1 class="title">Uncertainty Means Two Things</h1>


    <div class="tile is-ancestor">
      <div class="tile is-vertical is-half">
        <div class="tile is-parent">
          <article class="tile is-child notification is-danger">
            <h2 class="title has-text-centered"><i class="fa fa-warning"></i> Risk</h2>
            <div class="content">

              <ul>
                <li>Grounding if we’re unclear how much water is under the vessel</li>
                <li>Loading too much not be able to come in to berth/depart as not safe</li>
                <li>Weather changes have impacted water levels but it's unclear how much. Loading too little  = lost profits</li>
              </ul>
            </div>
          </article>
        </div>
      </div>
      <!-- /.tile -->

    <div class="tile is-parent">
      <article class="tile is-child notification is-warning">
        <div class="content">
          <h2 class="title has-text-centered"><i class="fa fa-thumbs-down" aria-hidden="true"></i> Missed Opportunities</h2>
          <div class="content">

            <ul>
              <li>The window was actually big enough to load more cargo</li>
              <li>Too few cranes meant the turnaround was slow</li>
              <li>Vessels frequently burning excess fuel to reach the port before they are ready to dock</li>
            </ul>


          </div>
        </div>
      </article>
    </div>
    <!-- /.tile -->


  </div>
  <!-- /.container -->
</section>

<svg class="divider">
  <use xlink:href="#waves" />
</svg>


<section class="section">
  <div class="container">
      <div class="columns">
        <div class="column is-half">

          <h1 class="title">Get In Touch</h1>
          <h2 class="subtitle">Use our handy form</h2>

          <form>
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" type="text" placeholder="Text input">
              </div>
            </div>

            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fa fa-warning"></i>
                </span>
              </div>
              <p class="help is-danger">This email is invalid</p>
            </div>

            <div class="field">
              <label class="label">Subject</label>
              <div class="control">
                <div class="select">
                  <select>
                    <option>Select dropdown</option>
                    <option>With options</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label">Message</label>
              <div class="control">
                <textarea class="textarea" placeholder="Textarea"></textarea>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <input type="checkbox">
                  I agree to the <a href="#">terms and conditions</a>
                </label>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio" name="question">
                  Yes
                </label>
                <label class="radio">
                  <input type="radio" name="question">
                  No
                </label>
              </div>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link">Submit</button>
              </div>
              <div class="control">
                <button class="button is-text">Cancel</button>
              </div>
            </div>

            <div class="field">
              <a class="button is-primary">Primary</a>
              <a class="button is-link">Link</a>
              <a class="button is-info">Info</a>
              <a class="button is-success">Success</a>
              <a class="button is-warning">Warning</a>
              <a class="button is-danger">Danger</a>
            </div>



          </form>
        </div>
        <!-- /.column -->


      </div>
      <!-- /.columns -->
    </div>
  </div>
  <!-- /.container -->
</section>



<section class="hero is-primary">
  <div class="hero-body">

    <div class="container">
      <div class="has-spacing-bottom--large">
        <h4 class="caption-title highlight">Remove the Uncertainty.</h4>
        <h1 class="title">Use Vantage for A Better Vantage</h1>
      </div>
      <!-- /.has-spacing-bottom--large -->
    </div>
    <!-- /.container -->

    <div class="product-walkthrough container">
      <div class="columns">

        <div class="product-walkthrough__explanation product-walkthrough__explanation--pull-right column is-5 is-offset-1">

          <div class="content">
            <h1 class="title">Identify Your Best Options</h1>
            <h2 class="subtitle">See into the future.</h2>
            <p>Vantage combines 7 day water level predictions with vessel and port requirements—giving you complete clarity on your operational window</p>
          </div>
          <!-- /.content -->
        </div>
        <!-- /.column -->

        <div class="product-walkthrough__image product-walkthrough__image--pull-left column is-one-quarter is-offset-1">
          <img src="/assets/iphone.png" alt="iPhone">
        </div>
        <!-- /.column -->

      </div>
      <!-- /.columns -->
    </div>
    <!-- /.product-walkthrough -->

    <div class="product-walkthrough container">

      <div class="columns">
        <div class="product-walkthrough__explanation column is-5 is-offset-1">

          <div class="content">
            <h1 class="title">Keep everyone on track</h1>
            <p>Vantage brings all the best information in one place for everyone involved.</p>
          </div>
          <!-- /.content -->
        </div>
        <!-- /.column -->

        <div class="product-walkthrough__image product-walkthrough__image--pull-right column is-one-quarter is-offset-1">
          <img src="/assets/iphone.png" alt="iPhone">
        </div>
        <!-- /.column -->


      </div>
      <!-- /.columns -->
    </div>
    <!-- /.product-walkthrough -->

    <div class="product-walkthrough container">
      <div class="columns">

        <div class="product-walkthrough__explanation product-walkthrough__explanation--pull-right column is-5 is-offset-1">

          <div class="content">
            <h1 class="title">Answer <strong class="highlight">“what's happening now?”</strong></h1>
            <p>Vantage integrates with real time port observations. Think tide gauges, lighthouses, ___ and more.</p>
          </div>
          <!-- /.content -->
        </div>
        <!-- /.column -->

        <div class="product-walkthrough__image product-walkthrough__image--pull-left column is-one-quarter is-offset-1">
          <img src="/assets/iphone.png" alt="iPhone">
        </div>
        <!-- /.column -->

      </div>
      <!-- /.columns -->
    </div>
    <!-- /.product-walkthrough -->



  </div>
  <!-- /.hero-body -->
</section>





<section class="hero is-dark">
  <div class="hero-body">

    <div class="container">
      <div class="has-spacing-bottom--large">
        <h4 class="caption-title">Ask Two Questions</h4>
        <h1 class="title">What happened? vs. What Was Possible?</h1>
      </div>
      <!-- /.has-spacing-bottom--large -->
    </div>
    <!-- /.container -->

    <div class="container">
      <div class="columns">

        <div class="column is-5">

          <div class="content">
            <p>Optimise your operation with absolute clarity using Vantage.</p>

            <p>See what action was taken vs. what was possible. The gap is your area for improvement.</p>
          </div>
          <!-- /.content -->
        </div>
        <!-- /.column -->

        <div class="column is-offset-1">
          <img class="possibility-graph" src="/assets/possibility-graph.svg" alt="Graph showing what actions was taken vs. what was possible">
        </div>
        <!-- /.column -->

      </div>
      <!-- /.columns -->
    </div>
    <!-- /.product-walkthrough -->



  </div>
  <!-- /.hero-body -->
</section>



<section class="section">
  <div class="container">
    <div class="has-spacing-bottom--large">
      <h4 class="caption-title">Take the Uptake.</h4>
      <h1 class="title">What does an extra 10cms actually give us?</h1>
    </div>
    <!-- /.has-spacing-bottom--large -->

    <div class="columns">
      <div class="column is-5">

        <div class="content is-size-5-desktop">
          <p>For a crude carrier we know that:</p>

          <p>1cm = 125 tones.</p>

          <p>125tones = $400,000 of cargo</p>
        </div>
        <!-- /.content -->


      </div>
      <!-- /.column -->

      <div class="column is-5  is-offset-1">

        <div class="number-reel">
          <em class="number-reel__number">$4,000,000,000</em>

          <p class="number-reel__explanation highlight">Of additional cargo each year.</p>
        </div>
        <!-- /.number-reel -->

      </div>
      <!-- /.column -->

    </div>
    <!-- /.columns -->
  </div>
  <!-- /.container -->
</section>


<svg class="divider">
  <use xlink:href="#waves" />
</svg>


<section class="section">
  <div class="container">
    <div class="has-spacing-bottom--large">
      <h4 class="caption-title">Results Speak for Themselves</h4>
      <h1 class="title">Book A Consultation</h1>
    </div>
    <!-- /.has-spacing-bottom--large -->

    <div class="columns">
      <div class="column is-5">

        <div class="content">

          <p><strong>Change is challenging.</strong><br> We’re here to <span class="highlight">make it easy.</span></p>

          <p>If you have questions, we have answers. </p>

          <p>In parallel with your current system, we’ll setup Vantage to identify what action is being taken vs. what is possible. </p>

          <p>We show instead of tell. Results speak for themselves.</p>

        </div>
        <!-- /.content -->

      </div>
      <!-- /.column -->

      <div class="column is-5  is-offset-1">

        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAGuAAAAJDRkOTg3ODViLWI4YjQtNDc4Ni05YTg4LWY5ZjFmZTIxZjRmOA.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Simon Holgate</p>
                <p class="subtitle is-6">Founder &amp; CEO</p>
              </div>
            </div>

            <div class="content">
              <p>Contact Simon to see how we can work to make your port better, simpler and faster than yesterday.</p>
              <a class="button is-primary"><strong>Get in touch</strong></a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.column -->

    </div>
    <!-- /.columns -->
  </div>
  <!-- /.container -->
</section>

<section class="section">
  <div class="container">
    <div class="columns">

      <div class="column is-9 is-offset-1">
        <h4 class="caption-title">For Ports &amp; Terminal Operators Like You</h4>
        <h1 class="title">Who We Work With</h1>
      </div>
      <!-- /.column -->

    </div>
    <!-- /.columns -->

    <ul class="logo-gallery">
      <li class="logo-gallery__item">
        <img src="/assets/logo-abp.png" class="logo-gallery__image" />
      </li>
      <li class="logo-gallery__item">
        <img src="/assets/logo-peel.jpg" class="logo-gallery__image" />
      </li>
      <li class="logo-gallery__item">
        <img src="/assets/logo-pdports.jpg" class="logo-gallery__image" />
      </li>
    </ul>
  </div>
  <!-- /.container -->
</section>
