// .navbar-menu {
//   // border-bottom: 2px solid $lighter-grey;
//   // padding-bottom: $vertical-rhythm-base;
// }

// .navbar > .container .navbar-brand {
//   margin-left: 0;
// }


.hero .navbar-item {
  display: block;
  line-height: 1;
  padding: 2rem 0 2rem 1rem;
  transition: $speed $easing;
}

a.navbar-item.is-active {
  background: transparent !important;
}

.navbar-item__title {
  font-family: $font-family-condensed;
  // text-transform: uppercase;
  font-weight: 800;
}

.navbar-item__caption {
  font-style: normal;
  font-size: $size-6;
  display: block;
}
