<!DOCTYPE html>
<html id="totality">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.meta }}">

      <!-- Open Graph data -->
       <meta property="og:title" content="{{ page.title }}" />
       <meta property="og:type" content="website" />
       <meta property="og:url" content="https://locumtap.com/{{ page.permalink }}" />
       <meta property="og:image" content="/assets/og-image.jpg" />
       <meta property="og:description" content="{{ page.meta }}" />
       <!-- Open Graph data -->

        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/assets/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="/assets/slrfavicon.ico" />

        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

        <script>
          (function(d) {
            var config = {
              kitId: 'rcp8cld',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
          })(document);
        </script>

        <script>
          // Picture element HTML5 shiv
          document.createElement( "picture" );
        </script>
        <script src="/picturefill/picturefill.min.js" async></script>
    </head>
    <body>

    {% include _icons.svg %}

    <section class="hero is-medium is-bold">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a href="/" class="logo">
                <img src="/assets/locumtap-logo.svg" class="logo__image" alt="LocumTap">
              </a>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">
                <a href="/" class="navbar-item">
                  <strong class="navbar-item__title">Hospitals</strong>
                  <em class="navbar-item__caption">a better way for staffing</em>
                </a>
                <a href="/about/" class="navbar-item">
                  <strong class="navbar-item__title">Locums</strong>
                  <em class="navbar-item__caption">tap, book shifts, relax</em>
                </a>
                <span class="navbar-item">
                  <a href="#" class="button is-outlined is-link is-rounded">
                    <strong class="is-uppercase">Login</strong>
                  </a>
                </span>
              </div>
            </div>

          </div>
        </nav>
      </div>
    </section>

    <div class="container">
      <hr class="is-marginless">
    </div>
    <!-- /.container -->



    {{ content }}


    <footer class="footer">
      <div class="container">

        <div class="columns">
          <div class="column is-one-third is-offset-2 has-text-centered has-text-left-tablet">

            <nav class="menu">
              <p class="menu-label">
                Find out More
              </p>
              <ul class="menu-list">
                <li>
                    <a href="/">
                      <strong>For Hospitals</strong>
                    </a>
                </li>
                <li>
                    <a href="/">
                      <strong>For Locums</strong>
                    </a>
                </li>
              </ul>
              <p class="menu-label">
                The Company
              </p>
              <ul class="menu-list">
                <li>
                  <a href="#">
                    <strong>About Us</strong>
                  </a>
                </li>
                <li>
                    <a href="#">
                      <strong>Contact Us</strong>
                    </a>
                </li>
              </ul>
            </nav>



          </div>
          <!-- /.column -->

          <div class="column is-one-third has-text-centered  has-text-left-tablet">

            <div class="content vcard">
    					<p>
                <span class="org">LocumTap</span><br />
    						<span class="street-address">49 Jamaica Street</span><br />
    						<span class="locality">Liverpool</span><br />
    						<span class="region">Merseyside</span><br />
    						<span class="postal-code">L1 0AH</span>
    					</p>

              <p class="tel"><span class="icon is-small"><i class="fa fa-phone"></i></span> <strong>0151 209 0344</strong></p>

    					<p><a href="https://www.google.com/maps/place/Unit+51/@53.3952847,-2.9823366,17z/data=!3m1!4b1!4m5!3m4!1s0x487b20d85e3940eb:0x4f9be7c391a296e6!8m2!3d53.3952815!4d-2.9801479?hl=en"><span class="icon is-small"><i class="fa fa-map"></i></span> <strong>View on a map</strong></a></p>
    				</div>



          </div>
          <!-- /.column -->



        </div>
        <!-- /.columns -->


        <div class="content has-text-centered">
          <p style="margin-bottom: -.3rem;" class="is-size-3 has-text-grey-light is-handwritten">Better for Hospitals.<br />
            Easier for Clinicians. <br />
            <span class="highlight">Safer</span> for Patients.</p>

          <p class="has-text-grey-light">
            <small>LocumTap Ltd. &copy; 2016—2018.</small>
          </p>
        </div>
      </div>
      <!-- /.container -->
    </footer>


    <button id="toggle-overlay-menu" class="overlay-toggle">
      <strong class="overlay-toggle__label">Menu</strong>

      <div class="overlay-toggle__icon">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>
    </button>
    <!-- /.overlay-toggle__icon -->


    <div class="overlay" id="overlay-menu">
      <nav class="overlay-menu">
        <ul class="overlay-menu__list">
          <li class="overlay-menu__item">
            <a href="/" class="overlay-menu__link">
              <strong class="overlay-menu__title">For Hospitals</strong>
              <em class="overlay-menu__caption">Increase your fill rates</em>
            </a>
          </li>
          <li class="overlay-menu__item">
            <a href="/" class="overlay-menu__link">
              <strong class="overlay-menu__title">For Locums</strong>
              <em class="overlay-menu__caption">A relaxing simplicity for booking shifts</em>
            </a>
          </li>
          <li class="overlay-menu__item">
            <a href="/about/" class="overlay-menu__link">
              <strong class="overlay-menu__title">About</strong>
              <em class="overlay-menu__caption">company, team &amp; mission</em>
            </a>
          </li>
          <li class="overlay-menu__item">
            <a href="#" class="overlay-menu__link">
              <strong class="overlay-menu__title">Contact</strong>
              <em class="overlay-menu__caption">get in touch &amp; book a consultation</em>
            </a>
          </li>

        </ul>
      </nav>
    </div>


    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/assets/application.min.js"></script>
    <!-- /scripts -->

    <!-- bright morning star -->


    </body>
</html>
