$logo-gallery-padding: 1.5rem;

.logo-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: -$logo-gallery-padding;
  margin-right: -$logo-gallery-padding;
}

.logo-gallery__item {
  padding: ($vertical-rhythm-base / 2) $logo-gallery-padding;
  width: 50%;
  max-width: 12rem;

  @include from($tablet) {
    width: 33%;
    max-width: none;
    padding: $vertical-rhythm-base ($logo-gallery-padding * 2);
  }

}

.logo-gallery__image {
  @include from($tablet) {
    padding: 0 1.2rem;
  }
}
