// Nice underlines for text links.
@mixin underline-links($link-color) {
    color: $link-color;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(lighten($link-color, 10%)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, lighten($link-color, 10%) 50%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, lighten($link-color, 10%) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 100%;
    padding-bottom: 1px;
    &:hover, &:active, &:focus {
        background-image: none;
    }
}
