.has-spacing-bottom {
  margin-bottom: $vertical-rhythm-base;
}

.has-spacing-bottom--large {
  margin-bottom: $vertical-rhythm-base;

  @include from($tablet) {
    margin-bottom: $vertical-rhythm-base * 2;
  }
}


.has-spacing-top {
  margin-top: $vertical-rhythm-base;
}

.has-spacing-top--large {
  margin-bottom: $vertical-rhythm-base;

  @include from($tablet) {
    margin-top: $vertical-rhythm-base * 2;
  }
}
